.assignment-list {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 550px;
}

.assignment-list ul {
  list-style: none;
  padding: 0;
}

.assignment-list li {
  border-bottom: 1px solid #cbd5e1;
  padding: 0.75rem 0;
}
